<div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
<h3>Your order has been placed, will reach you in......</h3>
<button style="top: 50%;" class="navbar-btn btn btn-primary ml-auto" routerLink="/cart">Order More
</button>
</div>