<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
  <a class="navbar-brand" routerLink="/">Pizzeria App</a>
  <a class="navbar-brand" routerLink="/">
    <img src="assets/PizzeriaLogo.png" alt="Pizzeria logo" style="width:40px;">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/order">Order Pizza <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/build">Build Your Pizza</a>
      </li>
    </ul>
    <button class="navbar-btn btn btn-primary ml-auto" style="background-color:yellow; color:black" routerLink="/cart">Shopping Cart <i class="bi bi-cart3"><sup><span class="badge badge-light"> {{order.length}}</span></sup></i>
    </button>
    
  </div>  
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>