<div class="container" style="margin-bottom: 50px;">
    <h2 class="text-center">Our Story</h2>
    <div class="row">
    <p>We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p><p>Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a performance and even finding excuses to be disqualified in a football match.
    </p><p>We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p>
    </div>
    <div class="row border-bottom mb-3 pb-3"> 
    <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg" class="float-left col-md-4" height="250px" width="250px">
    <div class='col-md-8 my-auto'>
    <h4>Ingredients</h4>
    <p>We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.</p>
    </div>
    </div>
    <div class="row border-bottom mb-3 pb-3" >
        <div class="col-md-8 my-auto">
            <h4>Our Chef</h4>
            <p>   
            They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring spoons (among other things). They make goodness so good, it doesn't know what to do with itself. We do though. We send it to you.
            </p>
            </div>
    <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" class="col-md-4" height="250px" width="250px">
    </div>
    <div class="row border-bottom mb-3 pb-3">
    <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" class="float-left col-md-4" height="250px" width="250px">
    <h4 class="col-md my-auto">
    45 min Delivery</h4>
    </div>
    </div>